---
interface Props {
  imgSrc: string;
  title: string;
  description: string;
  badges: string[];
  link?: string;
}

const { imgSrc, title, description, badges, link } = Astro.props;
---

<div class="border rounded-lg overflow-hidden transition-colors dark:border-white/10 dark:hover:border-white/30 border-black/10 hover:border-black/30">
  <figure class="w-full h-64">
    <a href={link} target="_blank" rel="noopener noreferrer">
      <img src={imgSrc} alt={title} class="w-full h-full object-cover" />
    </a>
  </figure>
  <div class="p-6">
    <h2 class="text-xl font-bold mb-2">
      {title}
    </h2>
    <p class="mb-4 dark:text-white/80 text-black/80">{description}</p>
    <div class="flex flex-wrap gap-2">
      {badges.map((badge) => (
        <div class="badge border dark:border-white/20 border-black/20">{badge}</div>
      ))}
    </div>
  </div>
</div> 