---
import Section from './Section.astro';

const experienceData = [
  {
    company: 'Seguros Bolívar S.A.',
    duration: 'October 2022 - Present',
    roles: [
      
      {
        jobTitle: 'Software Developer',
        period: 'October 2022 - December 2023',
        description: `
          Developed key features for a self-management system for policies, improving efficiency and user experience. Built the frontend with Angular and used Spring Boot and PL/SQL for the backend. Conducted unit testing to enhance application reliability. Integrated RESTful APIs for better user interactions. Collaborated with cross-functional teams within an agile environment to align technical development with business goals, delivering consistent value and a culture of technical excellence and teamwork.
        `,
      },
    ],
  },
];
---

<Section id="experience" title="Experience">
  <div class="max-w-5xl mx-auto grid grid-cols-1 gap-8">
    {
      experienceData.map((job) => (
        <div class="border rounded-lg p-6 overflow-hidden transition-colors dark:border-white/10 dark:hover:border-white/30 border-black/10 hover:border-black/30">
          <div class="mb-4">
            <h3 class="font-bold text-xl">{job.company}</h3>
            <p class="text-sm text-gray-500">{job.duration}</p>
          </div>
          <div class="space-y-4">
            {job.roles.map((role) => (
              <div class="border-l-4 border-blue-500 pl-4">
                <h4 class="font-semibold text-lg">{role.jobTitle}</h4>
                <p class="text-sm text-gray-600 mb-2">{role.period}</p>
                <p class="text-sm">{role.description}</p>
              </div>
            ))}
          </div>
        </div>
      ))
    }
  </div>
</Section>
